.content {
    font-weight: 600;
    .sticky {
        position: sticky;
        top: 0;
        z-index: 90;
    }
    .section {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        min-height: 65px;
        .left {
            flex: 0 0 25%;
            max-width: 25%;
            width: 280px;
            text-align: right;
            padding: 8px 32px 8px 0px;
        }
        .right {
            flex: 0 0 70%;
            max-width: 70%;
            padding: 8px 0px 8px 32px;
            .radio {
                display: inline-block;
                border-bottom: 3px solid #e4e4e4;
                line-height: 32px;
                color:#888;
                padding: 0 16px;
                text-align: center;
                cursor: pointer;
                margin-right: 4px;
                transition: all .15s;
                outline: 1px dotted transparent;
                font-size: 15px;
            }
            .checked {
                border-bottom-color: #6db33f;
                color: black;
            }
            .grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(250px, 0fr));
                grid-gap: 10px 20px;
                .item {
                    padding-top: 8px;
                    label {
                        display: block;
                        color: #706c69;
                        line-height: 17px;
                        font-weight: 300;
                    }
                    .control-input {
                        display: block;
                        border: 0;
                        outline: none;
                        border-bottom: 3px solid #ebebeb;
                        line-height: 16px;
                        width: 100%;
                        padding: 0.35rem 0 0.55rem;
                    }
                }
            }
        }
    }    
}

.dependencies-box {
    flex: 2;
    max-width: 900px;
    transition: all .15s;
    .tab {
        background: white;
        // padding: 0 20px;
        // margin: 0 -20px;
        margin: 0 0px;
        margin-bottom: 10px;
        .tab-container {
            border-bottom: 3px solid #f3f3f3;
            .active {
                color: #222;
                border-bottom: 3px solid #6db33f;
            }
            strong {
                float: right;
                background-color: #f7f7f7;
                padding: 0 8px;
                border-radius: 4px;
                line-height: 24px;
                margin-top: 6px;
                font-weight: 600;
                color: rgba(34,34,34,0.7);
                span {
                    color: black;
                }
            }
        }
        a {
            display: inline-block;
            margin-bottom: -3px;
            text-decoration: none;
            color: rgba(34,34,34,0.6);
            border-bottom: 3px solid #f3f3f3;
            padding: 15px 16px 11px;
            font-weight: bold;
            line-height: 16px;
            outline: 1px dotted transparent;
            transition: all .15s;
            cursor: pointer;
        }
    }
    .colset-2 {
        display: flex;
        min-height: 135px;
        padding-top: 20px;
        .column {
            flex: 1 1 0%;
            label {
                display: block;
                color: #706c69;
                font-size: 14px;
                font-weight: lighter;
                line-height: 17px;
                padding-bottom: 8px;
            }
            .control-input {
                display: block;
                border: 0;
                outline: none;
                border-bottom: 3px solid #ebebeb;
                line-height: 16px;
                background-clip: padding-box;
                width: 100%;
                padding: 0.35rem 0 0.55rem;
                // margin-bottom: 10px;
            }
        }
        .right {
            padding-left: 15px;
        }
    }
}
.groups {
    padding: 0px 0px 16px 0;
    .group {
        line-height: 1.4rem;
        position: relative;
        padding-bottom: 12px;
        .group-title {
            border-bottom: 1px solid #e4e4e4;
            margin-top: 8px;
            cursor: pointer;
            a {
                display: block;
                position: relative;
                margin: 4px 0;
                padding: 4px 0;
                // padding-left: 26px;
                line-height: 22px;
                font-size: 16px;
                background: white;
            }
        }
        .group-items {
            padding-top: 15px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-gap: 8px 10px;
        }
    }
    ul {
        list-style: none;
        padding: 0;
    }
}

.dependency-grid {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 8px 10px;
}

.overlay {
    background: rgba(255,255,255,0.6);
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    padding: 1.2rem;
    .modal-explorer {
        width: 98%;
        max-width: 1320px;
        top: 40px;
        height: 80%;
        box-shadow: 0 10px 40px rgba(0,0,0,0.2);
        padding: 0;
        min-width: 960px;
        position: relative;
        background: #ffffff;
        background-clip: padding-box;
        margin: 0 auto;
        .colset-explorer {
            padding: 0;
            height: 100%;
            display: flex;
        }
        .head {
            border-bottom: 1px solid #e4e4e4;
            line-height: 40px;
            padding: 0 16px;
            position: absolute;
            top: 0;
            left: 0;
            height: 40px;
            right: 0;
        }
        .content {
            position: absolute;
            top: 41px;
            bottom: 0;
            right: 0;
            left: 15px;
            overflow: auto;
        }
        pre {
            margin: 0;
            padding: 0;
            line-height: 24px;
            font-size: 13px;
        }
    }

    .times {
        float: right;
        padding: 15px 12px;
        cursor: pointer;
        font-size: 15px;
    }
}